<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Все люди</title>
</head>
<body>

  <h1>Money calculation <b th:text="${Num}" /></h1>
  <form th:method="POST" th:action="@{/Money/Calculate}">
    <div>
      <input name="Data" type="number" step="0.001"  th:value="${Value}"> = <b th:text="${Result}"/>
    </div>
    <div>Из
      <select name="From">
        <option th:each="MoneyValue: ${MoneyName}" th:value="${MoneyValue.getValue()}" th:text="${MoneyValue.getValue()}" th:selected="${MoneyValue.getKey() == FirstSelect}">
      </select>В
      <select name="To">
        <option th:each="MoneyValue: ${MoneyName}" th:value="${MoneyValue.getValue()}" th:text="${MoneyValue.getValue()}" th:selected="${MoneyValue.getKey() == SecondSelect}">
      </select>
    </div>
    <input type="submit" value="Посчитать">
  </form>
  <div>
    <a href="/Money/Add">add</a>
  </div>
  <div>
    <a href="/">Back</a>
  </div>
</body>
</html>