<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="/Author">
            <button>
                Вернуться
            </button>
        </a>
    </div>
    <hr>
    <h1>Изменить автора</h1>
    <hr>

    <form method="post" th:object="${author}">
        <div>
            Псевдоним автора =
            <input type="text" name="alias" th:field="*{alias}" th:value="${author.getAlias()}">
            <div style="color: red" th:if="${#fields.hasErrors('alias')}"
                 th:errors="*{alias}"></div>
        </div>
        <div>
            <input type="submit" value="Добавить">
        </div>
    </form>
</body>
</html>