<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/GridPositions.css">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="/">
            <button>
                Вернуться
            </button>
        </a>
    </div>
    <hr>
    <h1>Книги</h1>
    <hr>

    <form method="GET" th:action="${'/Book/Post'}">
        <input type="submit" value="Добавить">
    </form>

    <form method="POST" th:action="${'/Book'}">
        <input name="search" type="text" th:value="${search_line}">
        <input type="submit" value="Поиск">
    </form>

    <div th:each="book: ${Books}" class="grid-container">
        <div class="header">
            Код = <a th:text="${book.getId()}"/>
        </div>
        <div class="action">
            <form th:method="POST" th:action="@{/Book/Delete/{id} (id = ${book.getId()})}">
                <input type="submit" value="Удалить">
            </form>
            <form th:method="Get" th:action="@{/Book/Update/{id} (id = ${book.getId()})}">
                <input type="submit" value="Обновить">
            </form>
        </div>
        <div class="body">
            <div>
                Навзание книги = "<a th:text="${book.getName()}"></a>"
            </div>
            <div>
                Автор = "<a th:text="${book.getAuthor().getAlias()}"></a>" (<a th:text="${book.getAuthor().getId()}"></a>)
            </div>
            <hr>
            <div>
                Жанры:
                <span th:each="genre : ${book.getGenres()}">
                    <a th:text="${genre.getName()}"></a> (<a th:text="${genre.getId()}"></a>),
                </span>
            </div>
            <hr>
            <div>
                Описание = "<a th:text="${book.getDescription()}"> </a>"
            </div>
        </div>
    </div>
</body>
</html>